<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HiveCrash.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0DE92CBA265B8AFA00CE5F4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DE92CD1265B8AFB00CE5F4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DE92CDC265B8AFB00CE5F4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
